/* Reset */
/* Google Fonts
font-family: 'Caveat', cursive;
font-family: 'Special Elite', cursive;
*/

html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6
{
    margin:0;
    padding:0;
    
}

body{
    background-color: #f0ffff;
}


header{
    width: 100%;
    padding: 0px;
    background-color: #f0fff0;
}

header img#applogo{
    display: block;
    margin: auto;
    width: 600px;
}

header h6{
    color:#8fbc8f;
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 2em;
}
p#subtitle{
    color: #8fbc8f;
    text-align: center;
    font-family: "Caveat" , cursive;
    background-color: #f0fff0;
    width: 100%;
    margin-bottom: 10px;
}

div#container{
    width: 100%;
    text-align: center;
    background-color: #fff8dc;
    color: #d2691e;
    font-family: 'Special Elite', cursive;
}

div#content{
    width: 100%;
    background-color:#f0f8ff;
    font-family: 'Special Elite', cursive;
}

img#TJ{
    display: block;
    margin: auto;
    overflow:auto;
}

div#favoritesContainer{
    width: 100%;
    text-align: center;
    font-family: 'Special Elite', cursive;
    color: #53c1d0;
}


/*
Favorites page imgs
*/

figure.casey{
    width: 20%;
    float: left;
}
figure.casey img{
    display: block;
    width: auto;
    padding: 10px 0px;
}
figure.casey caption{
    text-align: center;
}


img#bec{
    display: block;
    margin: auto;
    overflow: auto;
}


figure.ss{
    width: 20%;
    float: left;
}
figure.ss img{
    display: block;
    width: auto;
    padding: 10px 0px;
}
figure.ss caption{
    text-align: center;
}

/*Products page*/

div#productsContainer{
    width: auto;
    margin: auto;
    font-family: 'Special Elite', cursive;
    color: #53c1d0;
}


figure.TJ{
    width: 20%;
    float: left;
}
figure.TJ img{
    display: block;
    width: auto;
    padding: 10px 0px;
}
figure.TJ caption{
    text-align: center;
}


figure.MC{
    width: 20%;
    float: left;
}
figure.MC img{
    display: block;
    width: auto;
    padding: 10px 0px;
}
figure.MC caption{
    text-align: center;
}


figure.PM{
    width: 30%;
    float: left;
}
figure.PM img{
    display: block;
    width: auto;
    padding: 10px 0px;
}
figure.PM caption{
    text-align: center;
}


figure.hic{
    width: 20%;
    float: left;
}
figure.hic img{
    display: block;
    width: auto;
    padding: 10px 0px;
}
figure.hic caption{
    text-align: center;
}


figure.Meenah{
    width: 20%;
    float: left;
}
figure.Meenah img{
    display: block;
    width: auto;
    padding: 10px 0px;
}
figure.Meenah caption{
    text-align: center;
}


figure.terezi{
    width: 20%;
    float: left;
}
figure.terezi img{
    display: block;
    width: auto;
    padding: 10px 0px;
}
figure.terezi caption{
    text-align: center;
}


figure.vriska{
    width: 20%;
    float: left;
}
figure.vriska img{
    display: block;
    width: auto;
    padding: 10px 0px;
}
figure.vriska caption{
    text-align: center;
}

img#gamzee{
    display: block;
    margin: auto;
    overflow: auto;
}

img#prospit{
    display: block;
    margin: auto;
    overflow: auto;
}
img#derse{
    display: block;
    margin: auto;
    overflow: auto;
}

img#trolls{
    display: block;
    margin: auto;
    overflow: auto;
}

img#cascade{
    display: block;
    margin: auto;
    overflow: auto;
}

/*
nav{
    color:rebeccapurple;
}

nav ul{
    list-style: none;

}

nav ul li a{
    color: rebeccapurple;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    float: left;
    display: block;
    padding: 5px 15px;
    border: 2px inset #e1f1ff;
}

nav ul li a:hover{
    background-color:#ceb3f2;
    color:ghostwhite;
    font-weight: 600;
}
*/

.icon-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e6e6fa;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #571f8e;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #f8f8ff;
}

.active {
    background-color: #c6a8fd;
}

/*
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: lavender;
}

div.keepOpen {
    clear: both;
}
*/



@media screen and (max-width: 490px) {
    figure{
        float: none;
        margin: 10px auto;
        min-width: 50%;
        max-width: 100%;
        background-color: #f0ffff;
        border-radius: 5%;
    }
    figure figcaption{
        text-align: center;
        color: #53c1d0;
        font-family: 'Special Elite', cursive;
        font-size: 12px;
    }
}
